.image-lib {
    display: none;
}

#display {
    position: relative;
    margin: auto;
    width: 640px;
    height: 480px;
    border-style: ridge;
    border-width: 8px;
}

.display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dpad-touch-target {
    width: 160px;
    height: 160px;
    position: relative;
    background-color: red;
}

.dpad {
    position: absolute;
    top: 18px;
    left: 18px;
    width: 124px;
    height: 124px;
}

.dpad > .element {
    position: absolute;
    width: 33%;
    height: 33%;
    background-color: blue;
    border: 2px solid black;
}

.dpad > .up {
    top: 0;
    left: 33%;
}

.dpad > .down {
    bottom: 0;
    left: 33%;
}

.dpad > .left {
    top: 33%;
    left: 0;
}

.dpad > .right {
    top: 33%;
    right: 0;
}

.dpad > .center {
    top: 33%;
    left: 33%;
}
